<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                       http://www.springframework.org/schema/beans/spring-beans.xsd
	                       http://www.springframework.org/schema/context
	                       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan
		base-package="com.amazon.cucumber" />  <!-- it needs where new ClassPathXmlApplicationContext(confFile); -->

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:dbconfig/db.properties
				</value>
				<value>classpath*:application-sql.properties
				</value>
			</list>
		</property>
	</bean>

	<bean id="TletIdrDAO" class="com.amazon.database.TletIdrDao">
		<property name="dataSource" ref="TletIDRDataSource" />
		<!-- property name = datasource will be injected in setter method 
			in com.amazon.database.TletIdrDao -->
	</bean>

	<bean id="TletIDRDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- it will read from ref =TletIDRDataSource -->
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${idr.db.url}" />
		<property name="username" value="${idr.db.username}" />
		<property name="password" value="${idr.db.password}" />
	</bean>


</beans>

